.galerie-section {
    background-color: white;
    padding: 30px 20px;
    min-height: 600px;
}

.section-title {
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    color: #801212;
    margin-bottom: 10px;
    font-family: 'Times New Roman';
}

.section-untertitle {
    text-align: center;
    font-size: 28px;
    font-family: 'Times New Roman';
    font-weight: bold;
    color: #1d661d;
    border-top: 5px solid #801212;
    border-bottom: 5px solid #1d661d;
    margin: 0px 10px;
    padding: 1px;
}

.galerie-container {
    max-width: 1400px;
    margin: 10px auto 10px;
    text-align: center;
}

.galerie-artikel {
    text-decoration: none;
    display: block;
    height: 100%;
    transition: all 0.3s;
    align-items: center;
    margin: 0px auto;
}

.galerie-artikel:hover {
    transform: translateY(-8px);
}

.galerie-image-packung {
    background-color: white;
    height: 100%;
    max-height: 250px;
    width: 100%;
    max-width: 340px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 6px solid #801212;
    outline: 5px solid white;
    box-shadow: inset 0 0 0 8px #1d661d;
    border-radius: 10px 10px 0px 0px;
    transition: all 0.3s;
    overflow: hidden;
    outline-offset: -8px;
    margin: 0px auto;
}

.galerie-image {
    width: 100%;
    height: 90%;
    padding: 5px;
    object-fit: contain;
}

.galerie-artikel:hover .galerie-image-packung {
    box-shadow: inset 0 0 0 5px #1d661d, 0 8px 20px black;
}

.galerie-title {
    width: 100%px;
    max-width: 340px;
    background-color: #801212;
    padding: 10px;
    text-align: center;
    border-radius: 0px 0px 10px 10px;
    margin: 0px auto;
}

.galerie-title h4 {
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Times New Roman';
}

.galerie-artikel:hover .galerie-title {
    background-color: #1d661d;
}

.lightbox-checkbox {
    display: none;
}

.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(102, 98, 98, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 0;
}

.lightbox-checkbox:checked ~ .lightbox {
    display: flex;
    opacity: 1;
}

.lightbox-content {
    max-width: 90%;
    max-height: 90%;
    position: relative;
}

.lightbox-image {
    max-width: 100%;
    max-height: 90%;
    border-radius: 10px 10px 0px 0px;
    border: 5px solid #1d661d;
    max-height: 700px;
}

.lightbox-title {
    background: #801212;
    color: white;
    text-align: center;
    border-radius: 0px 0px 10px 10px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Times New Roman';
    padding: 15px;
}

.lightbox-close {
    background: #1d661d;
    color: white;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1px;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 25px;
    right: 30px;
    cursor: pointer;
    margin: 0px auto;
    padding-bottom: 2px;
    transition: all 0.3s;
}

.lightbox-close:hover {
    background: #801212;
    font-size: 25px;
    width: 25px;
    height: 25px;
    padding-bottom: 4px;
    transform: translateY(-1px);
}

@media (max-width: 1200px) and (min-width: 769px) {
    .section-title {
        font-size: 39px;
    }

    .section-untertitle {
        font-size: 25px;
        margin: 0px 10px;
    }

    .galerie-image-packung {
        width: 100%;
        max-width: 300px;
        height: 100%;
        max-height: 220px;
    }

    .galerie-title {
        width: 100%;
        max-width: 300px;
    }

    .galerie-title h4 {
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    .galerie-section {
        padding: 30px 15px;
    }

    .section-title {
        font-size: 32px;
    }

    .section-untertitle {
        font-size: 20px;
        margin: 0px 10px;
    }

    .galerie-image-packung {
        width: 100%;
        max-width: 230px;
        height: 100%;
        max-height: 170px;
        margin: 0px auto;
    }

    .galerie-title {
        width: 100%;
        max-width: 230px;
        margin: 0px auto 15px;
    }

    .galerie-title h4 {
        font-size: 18px;
    }

    .lightbox-close {
        top: 10px;
        right: 10px;
        width: 15px;
        height: 15px;
        font-size: 15px;
    }

    .lightbox-title {
        font-size: 16px;
        padding: 10px;
    }
}

