body {
    font-family: 'Times New Roman';
}

header { 
    background-color: #801212;
    position: relative;
}

.header-container {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    gap: 30px;
}

.logo {
    background-color: white;
    border-radius: 15px;
}

.name-box {
    color: white;
    text-align: center;
    border: 5px solid white;
    border-radius: 15px;
    padding: 25px 30px;
    background-color: #1d661d;
    flex: 1;
}

.name-box h1 {
    font-size: 45px;
    margin-bottom: 10px;
    font-weight: bold;
}

.name-box h3 {
    font-size: 26px;
    margin-bottom: 10px;
    font-style: italic;
}

.name-box h6 {
    font-size: 16px;
    font-style: italic;
    line-height: 1.4;
    margin-bottom: 20px;
}

.nav-buttons {
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.nav-link-item {
    background-color: white;
    color: #1d661d;
    border: 2px solid white;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 8px;
    transition: all 0.3s;
    text-decoration: none;
}

.nav-link-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    border-color: white;
    text-decoration: none;
    transform: translateY(-2px);
}

.nav-link-item.active {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    border-color: white;
}

.footer {
    background-color: #1d661d;
    color: white;
    padding: 10px 10px 0px;
    text-align: center;
    border-top: 5px solid #801212;
    border-bottom: 5px solid #801212;
}

.footer p {
    margin-bottom: 6px;
    line-height: 1.5;
}

.footer-trennsymbol {
    text-align: center;
    color: #90cca2;
    margin: 10px 0px;
    font-size: 14px;
}

.row {
    padding: 20px 10px 0px;
    margin: 0px 10px 10px;
    align-items: center;
}

.row h4 {
    font-weight: bold;
}

.motto-rechte {
    font-size: 14px;
    margin-top: 15px;
    padding-bottom: 5px;
}

@media (max-width: 1200px) and (min-width: 769px) {
    .name-box h1 {
        font-size: 35px;
    }

    .name-box h3 {
        font-size: 22px;
    }

    .name-box h6 {
        font-size: 14px;
    }

    .nav-link-item {
        padding: 8px 15px;
        font-size: 14px;
    }

    .motto-rechte {
        font-size: 12px;
    }
}

@media (max-width: 768px) {
    .header-container {
        flex-direction: column;
        padding: 15px;
    }

    .name-box h1 {
        font-size: 25px;
    }

    .name-box h3 {
        font-size: 18px;
    }

    .name-box h6 {
        font-size: 12px;
    }

    .nav-buttons {
        flex-direction: column;
    }

    .nav-link-item {
        width: 100%;
    }

    .footer .btn {
        margin: 10px 0px;
    }

    .row {
        margin: 0px 10px;
    }

    .row h4 {
        font-size: 22px;
    }

    .motto-rechte {
        font-size: 10px;
    }
}