.newsletter-section {
    background-color: white;
    padding: 30px 20px;
    min-height: 600px;
}

.section-title {
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    color: #801212;
    margin-bottom: 10px;
    font-family: 'Times New Roman';
}

.section-untertitle {
    text-align: center;
    font-size: 28px;
    font-family: 'Times New Roman';
    font-weight: bold;
    color: #1d661d;
    border-top: 5px solid #801212;
    border-bottom: 5px solid #1d661d;
    margin: 0px 10px;
    padding: 1px;
}

.newsletter-container {
    max-width: 1400px;
    margin: 0px auto;
}

.foto-container {
    border: 5px solid #1d661d;
    border-radius: 15px;
    overflow: hidden;
    margin: 10px auto;
    box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.3);
}

.foto-container img {
    width: 100%;
    height: auto;
    display: block;
    padding: 10px 10px;
    border-radius: 20px;
}

.vorteile {
    background-color: rgb(248, 248, 248);
    border-left: 5px solid #1d661d;
    border-radius: 10px;
    padding: 15px;
    margin: 10px 20px 30px;
}

.vorteile p strong {
    font-size: 18px;
    color: #1d661d;
    margin-bottom: 20px;
    line-height: 1.5;
}

.vorteil-artikel {
    font-size: 18px;
    color: black;
    align-items: center;
    display: flex;
    margin-bottom: 15px;
}

.vorteil-icon {
    color: #1d661d;
    font-size: 24px;
    margin-right: 12px;
}

.newsletter-form {
    background-color: rgba(0, 0, 0, 0.020);
    border: 5px solid #801212;
    border-radius: 15px;
    padding: 10px 30px 30px;
    margin-top: 20px 20px 30px;
    box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.3);
}

.form-title {
    color: #801212;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    margin: 15px 0px 10px;
    text-decoration: underline;
    font-family: 'Times New Roman';
}

.form-untertitle {
    color: #1d661d;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 25px;
}

.form-group label {
    color: #801212;
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 15px;
}

.form-kontrolle {
    border: 2px solid #ddd;
    border-radius: 8px;
    padding: 12px;
    font-size: 15px;
    transition: all 0.3;
}

.form-kontrolle:focus {
    border-color: #1d661d;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    outline: none;
}

.form-kontrolle:valid {
    border-color:#1d661d;
}

.form-kontrolle:invalid:not(:placeholder-shown) {
    border-color: #801212;
}

.pflichtfelder {
    color: #801212;
    font-weight: bold;
}

.dsgvo-checkbox {
    margin: 25px auto;
    font-size: 10px;
}

.dsgvo-checkbox a:hover {
    color: #1d661d;
}

.btn-anmelden {
    background-color: #801212;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 15px 40px;
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.3s;
    width: 100%;
    cursor: pointer;
    font-family: 'Times New Roman';
}

.btn-anmelden:hover {
    background-color: #1d661d;
    box-shadow: 0px 8px 20px black;
    transform: translateY(-3px);
}

.form-note {
    color: black;
    font-size: 14px;
    text-align: center;
    margin-top: 15px;
    font-style: italic;
}

.success-rückmeldung {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(102, 98, 98, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.success-rückmeldung:target {
    display: flex;
}

.success-message {
    background-color: white;
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    max-width: 500px;
    width: 90%;
    position: relative;
    border: 5px solid #1d661d;
}

.success-icon {
    font-size: 80px;
    margin-bottom: 20px;
}

.success-message h3 {
    font-size: 32px;
    font-weight: bold;
    color: #801212;
    margin-bottom: 15px;
    font-family: 'Times New Roman';
}

.success-message p {
    font-size: 18px;
    color: #1d661d;
    margin-bottom: 10px;
    line-height: 1.6;
}

.close-rückmeldung-btn {
    background-color: #801212;
    color: white;
    border: none;
    border-radius: 25px;
    font-weight: bold;
    font-size: 16px;
    margin-top: 20px;
    padding: 12px 30px;
    transition: all 0.3s;
    cursor: pointer;
    font-family: 'Times New Roman';
}

.close-rückmeldung-btn:hover {
    background: #1d661d;
    transform: scale(1.05);
}

@media (max-width: 1024px) {
    .section-title {
        font-size: 39px;
    }

    .section-untertitle {
        font-size: 25px;
    }

    .foto-container {
        margin: 0px 15px 35px;
    }

    .vorteile {
        margin: 10px 0px 25px;
    }

    .vorteil-artikel {
        font-size: 16px;
    }

    .dsgvo-checkbox {
        margin: 25px auto;
        font-size: 9px;
    }

    .form-title {
        font-size: 24px;
    }

    .form-untertitle {
        font-size: 15px;
    }

    .form-group label {
        font-size: 12px;
    }
    
    .form-kontrolle {
        padding: 10px;
        font-size: 12px;
    }

    .btn-anmelden {
        padding: 15px 30px;
        font-size: 15px;
    }
}

@media (max-width: 768px) {
    .newsletter-section {
        padding: 20px 10px;
    }

    .section-title {
        font-size: 32px;
        margin-bottom: 8px;
    }

    .section-untertitle {
        font-size: 20px;
        margin: 0px 10px;
        padding: 1px;
    }

    .foto-container {
        margin: 0px 5px 25px;
    }

    .foto-container {
        margin: 10px auto;
        box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.3);
    }
    
    .foto-container img {
        padding: 5px 5px;
        border-radius: 15px;
    }

    .newsletter-container {
        max-width: 100%;
        padding: 0px 20px 20px;
    }

    .newsletter-form {
        border-radius: 10px;
        padding: 10px 15px 0px;
        text-align: center;
    }

    .form-title {
        margin: 10px 0px;
    }

    .form-untertitle {
        margin-bottom: 10px;
    }

    .form-group label {
        font-size: 12px;
        margin-bottom: 1px;
        padding: 5px;
    }

    .form-kontrolle {
        font-size: 10px;
        box-sizing: border-box;
    }

    .form-note {
        font-size: 12px;
    }

    .dsgvo-checkbox {
        margin: 15px auto;
        font-size: 10px;
        text-align: left;
    }

    .btn-anmelden {
        padding: 13px 20px;
        font-size: 11px;
        margin: 0px auto;
    }

    .pflichtfelder-text {
        font-size: 10px;
    }

    .success-message {
        border-radius: 15px;
        padding: 25px;
    }

    .success-icon {
        font-size: 60px;
        margin-bottom: 15px;
    }

    .success-message h3 {
        font-size: 24px;
        margin-bottom: 12px;
    }

    .success-message p {
        font-size: 15px;
        margin-bottom: 8px;
    }

    .close-rückmeldung-btn {
        font-size: 14px;
        padding: 10px 25px;
        margin-top: 15px;
    }
}