.speisekarte-container {
    background-color: white;
    padding: 30px 20px;
    min-height: 600px;
}

.section-title {
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    color: #801212;
    margin-bottom: 10px;
    font-family: 'Times New Roman';
}

.section-untertitle {
    text-align: center;
    font-size: 28px;
    font-family: 'Times New Roman';
    font-weight: bold;
    color: #1d661d;
    border-top: 5px solid #801212;
    border-bottom: 5px solid #1d661d;
    margin: 0px 10px;
    padding: 1px;
}

.category-container {
    max-width: 1400px;
    margin: 10px auto 10px;
    text-align: center;
}

.category-card {
    text-decoration: none;
    display: block;
    height: 100%;
    transition: all 0.3s;
    align-items: center;
    margin: 0px auto;
}

.category-card:hover {
    transform: translateY(-8px);
    text-decoration: none;
}

.card-image {
    background-color: white;
    height: 100%;
    max-height: 250px;
    width: 100%;
    max-width: 340px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 6px solid #801212;
    outline: 5px solid white;
    box-shadow: inset 0 0 0 8px #1d661d;
    border-radius: 10px 10px 0px 0px;
    transition: all 0.3s;
    overflow: hidden;
    outline-offset: -8px;
    margin: 0px auto;
}

.card-image img {
    width: 100%;
    height: 90%;
    padding: 5px;
    object-fit: contain;
}

.category-card:hover .card-image {
    box-shadow: inset 0 0 0 5px #1d661d, 0 8px 20px black;
}

.card-title {
    width: 100%px;
    max-width: 340px;
    background-color: #801212;
    padding: 10px;
    text-align: center;
    border-radius: 0px 0px 10px 10px;
    margin: 0px auto;
}

.card-title h3 {
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Times New Roman';
}

.category-card:hover .card-title {
    background-color: #1d661d;
}

@media (max-width: 1200px) and (min-width: 769px) {
    .section-title {
        font-size: 39px;
    }

    .section-untertitle {
        font-size: 25px;
        margin: 0px 10px;
    }

    .card-image {
        width: 100%;
        max-width: 300px;
        height: 100%;
        max-height: 220px;
    }

    .card-title {
        width: 100%;
        max-width: 300px;
    }

    .card-title h3{
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    .speisekarte-container {
        padding: 30px 15px;
    }

    .section-title {
        font-size: 32px;
    }

    .section-untertitle {
        font-size: 21px;
        margin: 0px 10px;
    }

    .card-image {
        width: 100%;
        max-width: 230px;
        height: 100%;
        max-height: 170px;
        margin: 0px auto;
    }

    .card-title {
        width: 100%;
        max-width: 230px;
        margin: 0px auto 15px;
    }

    .card-title h3 {
        font-size: 18px;
    }
}