.manualCarousel {
    height: auto;
    overflow: hidden;
}

.carousel-inner img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 50px;
    height: 60px;
    color: #801212;
    background-color: #1d661d;
    border-radius: 10px;
    padding: 5px;
    margin: 50px;
}

.carousel-control-next-icon:hover,
.carousel-control-prev-icon:hover {
    background-color: #801212;
}

@media (max-width: 1200px) and (min-width: 769px) {
    .manualCarousel {
        max-height: 500px;
    }

    .carousel-inner img {
        width: auto;
        height: auto;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
    width: 40px;
    height: 50px;
    color: #801212;
    background-color: #1d661d;
    border-radius: 10px;
    padding: 15px;
    margin: 50px;
    }
} 

@media (max-width: 768px) {
    .manualCarousel {
        max-height: 400px;
    }

    .carousel-inner img {
        height: auto;
        width: auto;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        width: 30px;
        height: 40px;
        padding: 15px;
    }
}