.bier-cider-section {
    background-color: white;
    padding: 30px 20px;
    min-height: 600px;
}

.section-title {
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    color: #801212;
    margin-bottom: 10px;
    font-family: 'Times New Roman';
}

.section-untertitle {
    text-align: center;
    font-size: 28px;
    font-family: 'Times New Roman';
    font-weight: bold;
    color: #1d661d;
    border-top: 5px solid #801212;
    border-bottom: 5px solid #1d661d;
    margin: 0px 10px;
    padding: 1px;
}

.bier-cider-container {
    max-width: 1400px;
    margin: 0px auto;
    text-align: center;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.getraenk {
    width: 220px;
    background-color: white;
    padding: 15px;
    border-left: 4px solid #1d661d;
    border-top: 4px solid #801212;
    position: relative;
    box-shadow: 0px 5px 15px black;
    margin: 30px auto;
}

.getraenk-name {
    color: #801212;
    font-size: 22px;
    font-weight: bold;
    margin: 0px auto;
}

.getraenk-inhalt {
    color: #801212;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    margin: 0px auto;
}

.getraenk-alkohol {
    color: #801212;
    font-weight: bold;
    font-style: italic;
    margin: 0px auto;
}

.getraenk-beschreibung {
    color: black;
    font-style: italic;
    padding-bottom: 10px;
}

.getraenk-preis {
    color: #1d661d;
    font-size: 20px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}